@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

.contain{
    @apply max-w-[1440px] mx-auto
}
html{
    font-family: "Poppins", sans-serif;
}
.heading-grey{
    color: #636363
}
.quicklift-blue{
    color: #0031AE
}
.features-description{
    font-size: 14px;
    font-weight: 500;
    color: #393939;
    opacity: 0.8;
    line-height: 1.7;
}
.features-heading{
    font-size: 24px;
    font-weight: 600;
}
/* .contain{
    max-width: 1440px;
    margin: 0 auto;
} */